.container{ 
  display: flex;
  flex-direction: column;
  font-size: 1.40rem;
  color: white;
  }
.rejilla{
  background: var(--color-principal);
  display: flex;
  flex-direction: column;  
}
.titulo-seccion{
  justify-content: center;
  margin: auto;
}  
.secciones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-around; 
}
.pelicula{
  position: relative;
  margin: 0.75%; 
  height: 10%;
  z-index: 1;
}
.info-pelicula{
  border: solid 1px black;
  position: absolute;
  border: solid black;
  color: #5bc0de;
  background: rgba(0,0,0, 0.5);
  margin: 8%;
  padding-left: 1%;
  padding-right: 1%;
  flex-direction: column;
  justify-content: space-between;
  top:-1%;
  left: -7%;
  width: 100%;
  height: 83%;
  font-size: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 0.2;
}
.pelicula .info-pelicula h1{
  font-size: 1.40rem;
  padding: 0.1rem;
  font-weight: bold;
}
.pelicula .info-pelicula h2{
  font-size: 1.10rem;
}
.pelicula .info-pelicula p{
  font-size: 0.9rem;
  padding: 0.1rem;
}
.footer-info-pelicula{
  display: flex;
  justify-content: flex-end;
  min-height: 3rem;
} 
.pelicula .pelicula-button{
  background: rgba(0,0,0, 0.5);
  border-color: var(--color-principal);
  height: 2rem;
  border-radius: 0.30rem;
  margin: 0.25rem;
  padding: 0.25rem 0.90rem;
  color: #fff;
  cursor: pointer;
  transition: .3s ease all;
}
.pelicula .pelicula-button.favorito{
  background: rgba(242, 158, 0, 0.75);
}
.pelicula .pelicula-button:focus{
  background: rgba(242, 158, 0, 0.75);
}
.pelicula .pelicula-button.favorito:focus{
  background: rgba(0,0,0, 0.5);
}
.pelicula .desplegable-pelicula{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  top:3%;
  left: -1%;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  z-index: 0.2;
}
.footer-info-pelicula{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* Botones Información para desplegar .info-pelicula */
input[id^="check"]{
  display: none;
 }
 input[id^="check"] + button{
  display: block;
  border: solid black;
  cursor: pointer;
 }
 input[id^="check"] ~ .info-pelicula{
  display: none;
 }
 input[id^="check"]:checked + button + .info-pelicula{
  display:flex; 
 }
.info-pelicula{
  min-height: 20%;
}
input[id^="check"] ~ .info-pelicula {
  display: flex;
 }
 .pelicula .desplegable-pelicula button{
  opacity: 0;
 }
.pelicula .desplegable-pelicula{
  opacity: 0;
}
.pelicula .desplegable-pelicula:hover{
  opacity: 1;
  top: -13%;
  height: 119%;
} 
@media (min-width: 640px){
  .rejilla{
    padding: 0.5rem;
  }
  .titulo-seccion{
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  .secciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .info-pelicula{
    height: 805%;
    top: -105%;
  }
}
@media (min-width: 1055px){
  .secciones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
@media (min-width: 1800px) {
  .secciones{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
  }
  .info-pelicula{
    min-height: auto;
  }
}


